<template>
  <section>
    <AnsiString
      v-for="({ content, index }) in text"
      :text="content || ''"
      :key="'rs-' + index"
      :shadow="shadow"
    ></AnsiString>
  </section>
</template>

<script>
import AnsiString from './AnsiString.vue'

export default {
  name: 'AnsiText',
  components: { AnsiString },
  props: {
    text: {
      type: Array,
      required: true
    },
    shadow: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>

<style scoped>
section {
  margin:  0;
  padding: 0;
  min-height: 1em;
}
</style>
