<template>
  <div class="terminal" @click="$refs.commandLine.focus()">
    <div class="content">
      <AnsiText
        :text="content || []"
        shadow="0 0 0.3em"
      />
      <AnsiString v-if="status !== ''" :text="status || ''"></AnsiString>
      <label ref="commandLine" class="row">
        <div class="col-12 input-container">
          <span>&gt;&nbsp;</span>
          <input
            v-if="password"
            type="password"
            placeholder="*** password ***"
            v-model="passwordString"
            class="command"
            @keypress.enter="notifyPassword"
          />
          <input
            v-else
            type="text"
            v-model="inputString"
            :placeholder="prompt"
            class="command"
            @keypress.enter="notifyCommand"
            @keydown.up="doskeyUp"
            @keydown.down="doskeyDown"
          />
        </div>
      </label><br ref="lastItem" />
    </div>
  </div>
</template>

<script>
import History from '../../libs/history'
import AnsiText from 'components/leaves/AnsiText'
import AnsiString from 'components/leaves/AnsiString'

export default {
  name: 'TermView',
  components: { AnsiText, AnsiString },
  props: {
    content: {
      type: Array,
      required: true
    },
    status: {
      type: String,
      required: false
    },
    password: {
      type: Boolean,
      required: false,
      default: false
    },
    theme: {
      type: String,
      required: false,
      default: 'green'
    },
    prompt: {
      type: String,
      require: false,
      default: 'command'
    }
  },
  data: function () {
    return {
      sInputString: '',
      passwordString: '',
      history: new History()
    }
  },

  computed: {
    inputString: {
      get: function () {
        return this.sInputString
      },
      set: function (value, oldValue) {
        if (value !== oldValue) {
          this.history.modify(value)
          this.sInputString = value
        }
      }
    }
  },

  methods: {
    notifyCommand: function () {
      const sCommand = this.inputString
      if (sCommand !== '') {
        this.sInputString = ''
        this.history.submit()
        this.$emit('command', { command: sCommand })
      }
    },
    notifyPassword: function () {
      const sPassword = this.inputString
      this.inputString = ''
      this.$emit('password', { password: sPassword })
    },
    doLinkAction: function (command) {
      this.$emit('command', { command })
    },
    doskeyUp: function () {
      this.history.prev()
      this.sInputString = this.history.currentString
    },
    doskeyDown: function () {
      this.history.next()
      this.sInputString = this.history.currentString
    }
  },

  updated () {
    this.$refs.commandLine.scrollIntoView({ block: 'end' })
  }
}
</script>

<style scoped>
.terminal .content {
  overflow: auto;
}


input.command:focus {
  outline: none;
}

input.command, input.password {
  width: calc(100% - 2ch);
}

</style>
