<template>
  <q-page class="row">
    <div
      class="col-7 terminal-container panel-left bordered-right"
      @click="commandFocus"
    >
      <q-scroll-area style="width: 100%; height: 100vh">
        <TermView
          ref="terminal"
          :content="terminalStore.getLines"
          :password="scrGetActiveScreen.password"
          :status="scrGetActiveScreen.status"
          @command="({ command }) => sendCommand(command)"
        />
      </q-scroll-area>
    </div>
    <div class="col-5 panel-right bordered-bottom">
      <div class="row">
        <div class="col-12 panel-top-right bordered">
          <img
            class="fullsize-bg"
            alt="mandragore"
            src="images/dungeon-door.png"
          />
        </div>
      </div>
      <ChatView></ChatView>
    </div>
    <FormLogin @formSubmitted="({ name, password }) => sendLogin(name, password)"></FormLogin>
    <FormPasswd @formSubmitted="({ password }) => sendPasswd(password)"></FormPasswd>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import FormLogin from 'components/forms/FormLogin.vue';
import FormPasswd from 'components/forms/FormPasswd.vue';
import TermView from "components/leaves/TermView.vue";
import ChatView from 'components/ChatView.vue';
import { useTerminalStore } from 'stores/terminal';
import { useMainStore } from "stores/main";
import { mapStores } from "pinia";

import A256 from 'src/libs/ansi-256-colors'
const a256 = new A256()

export default defineComponent({
  name: 'IndexPage',
  components: { ChatView, TermView, FormPasswd, FormLogin },
  data: function () {
    return {
      scrGetActiveScreen: {
        lines: ['test [#f00] test en rouge [#0f0] test en vert [#04f] test en bleu'].map(s => a256.render(s)),
        password: false,
        status: ''
      }
    }
  },
  computed: {
    ...mapStores(useTerminalStore, useMainStore)
  },
  mounted () {
    this.commandFocus()
    this.mainStore.showFormLogin()
  },
  methods: {
    commandFocus () {
      this.$refs.terminal.$refs.commandLine.focus()
    },
    sendCommand (command) {
      this.terminalStore.submitCommand(command, true)
    },
    sendLogin (name, password) {
      this.terminalStore.submitCommand(`login ${name} "${password}"`)
    },
    sendPasswd (password) {
      return this.terminalStore.submitCommand('passwd "' + password + '"')
    }
  }
})
</script>
<style scoped>
.bordered-right {
  border-right: solid thin var(--terminal-color-primary-border);
}

.bordered-bottom {
  border-bottom: solid thin var(--terminal-color-primary-border);
}

.panel-left {
  padding: 0.5em;
  max-height: 100vh;
}

.panel-right {
  max-height: 100vh;
  overflow: hidden;
}

.panel-top-right {
  text-align: center;
  image-rendering: pixelated;
  height: 50vh;
  overflow: hidden;
}

.screen-container {
  height: 100vh;
  max-height: 100vh;
}

img.fullsize-bg {
  padding: 0.5em;
  height: 100%;
  max-width: 100%;
  filter: brightness(130%);
}
</style>
