<template>
  <div class="row">
    <div class="col-12 terminal-container panel-center-right">
      <q-tabs
        v-if="getTabs.length > 0"
        align="left"
        v-model="currentTab"
        dense no-caps inline-label>
        <q-tab
          v-for="({ id, name }) in getTabs"
          :key="id"
          :name="id"
        >{{ name }}</q-tab>
      </q-tabs>
      <div class="q-pa-sm" v-else style="color: rgba(128, 128, 128, 0.7)">(Not connected)</div>
    </div>
    <div
      class="col-12 terminal-container panel-bottom-right bordered"
      @click="$refs.terminalChat.$refs.commandLine.focus()"
    >
      <q-scroll-area style="width: 100%; height: 100%">
        <TermView
          ref="terminalChat"
          :content="getActiveScreen"
          prompt="message"
          @command="({ command }) => sendChatMessage(command)"
        />
      </q-scroll-area>
    </div>
  </div>
</template>

<script>
import TermView from 'components/leaves/TermView.vue';
import { useChatStore } from 'stores/chat';
import { mapStores } from 'pinia';

export default {
  name: 'ChatView',
  components: { TermView },
  /**
   * @property chatStore {Store}
   */
  computed: {
    ...mapStores(useChatStore),
    getTabs: function () {
      return this.chatStore.getChannelList
    },
    getActiveScreen: function () {
      return this.chatStore.getSelectedChannelLines
    },
    currentTab: {
      get: function () {
        return this.chatStore.getSelectedChannelId
      },

      set: function (value) {
        this.chatStore.selectChannel(value)
      }
    }
  },
  methods: {
    sendChatMessage (message) {
      // envoyer le message au chat
      this.chatStore.submitChatMessage(message, this.chatStore.getSelectedChannelId)
    }
  }
}
</script>

<style scoped>

.panel-center-right {
  height: 2em;
}

.panel-bottom-right {
  padding: 0.5em;
  height: calc(50vh - 2em);
}

.bordered {
  border-top: solid thin var(--terminal-color-primary-border);
}

</style>
