// app global css in SCSS form

@import "webfonts/DecTerminalModern/font.css";
@import "webfonts/VT323/font.css";
@import "webfonts/Poppins/font.css";
@import "term.scss";
@import "responsive-font-size.scss";

html, body, #vue-application {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
