body, input.command {
  font-size: 20px;
}

@media all and (max-width: 1366px) {
  body, input.command {
    font-size: 18px;
  }
}

@media all and (max-width: 750px) {
  body, input.command {
    font-size: 16px;
  }
}

@media all and (max-width: 640px) {
  body, input.command {
    font-size: 14px;
  }
}
