:root {
  --terminal-font-shadow-radius: 0.6em;
  --terminal-font-shadow-opacity: 0.65;
  --terminal-screen-scanline-opacity: 0.35;
  --terminal-color-red: 220;
  --terminal-color-green: 220;
  --terminal-color-blue: 220;
  --terminal-color-primary: rgb(var(--terminal-color-red), var(--terminal-color-green), var(--terminal-color-blue));
  --terminal-color-primary-border: rgb(
      calc(var(--terminal-color-red) / 4),
      calc(var(--terminal-color-green) / 4),
      calc(var(--terminal-color-blue) / 4)
  );
}

.terminal-container {
  font-family: "decterm", monospace;
  font-weight: normal;
  word-wrap: break-word;
  overflow: hidden;
}

input.command {
  background: none;
  border: none;
}

.spread-height {
  height: 100%;
}

.theme[data-theme="custom"], .theme[data-theme="custom"] input.command {
  color: var(--terminal-color-primary);
}

.theme[data-theme="custom"] {
  background-color: black;
  background-image: radial-gradient(
      rgba(
          calc(var(--terminal-color-red) / 2),
          calc(var(--terminal-color-green) / 2),
          calc(var(--terminal-color-blue) / 2),
          var(--terminal-screen-scanline-opacity)
      ), black 120%
  );
  height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: repeating-linear-gradient(
      0deg,
      rgba(black, var(--terminal-screen-scanline-opacity)),
      rgba(black, var(--terminal-screen-scanline-opacity)) 1px,
      transparent 1px,
      transparent 2px
  );
}
