<template>
  <q-dialog class="formLogin" v-model="formLoginVisible" persistent>
    <q-card dark style="min-width: 350px">
      <q-card-section>
        <div class="text-h5">Account login</div>
      </q-card-section>

      <form @submit.prevent="triggerSubmit()">
        <q-card-section class="q-pt-none">
          <q-input dark label="User name" v-model="name" filled autofocus />
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input dark label="Password" v-model="password" filled :type="isPwdShown ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon
                size="0.66em"
                :name="isPwdShown ? 'fas fa-eye-slash' : 'fas fa-eye'"
                dark
                class="cursor-pointer"
                @click="isPwdShown = !isPwdShown"
              />
            </template>
          </q-input>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat type="button" label="New user" v-close-popup to="newuser" />
          <q-space></q-space>
          <q-btn icon-right="fas fa-sign-in-alt" color="primary" type="submit" label="Login" v-close-popup />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>

</template>

<script>
import hashMixin from 'src/mixins/hashMixin'
import { useMainStore } from 'src/stores/main'
import { mapStores } from "pinia";

export default {
  name: 'FormLogin',
  mixins: [hashMixin],
  data: function () {
    return {
      name: '',
      password: '',
      isPwdShown: true,
    }
  },
  computed: {
    ...mapStores(useMainStore),
    formLoginVisible: {
      get () {
        return this.mainStore.isFormLoginVisible && !this.mainStore.isAuthenticated
      },
      set (value, oldValue) {
        if (value !== oldValue) {
          if (value) {
            this.mainStore.showFormLogin()
          } else {
            this.mainStore.hideFormLogin()
          }
        }
      }
    }
  },
  methods: {
    triggerSubmit: function () {
      this.$emit('formSubmitted', {
        name: this.name,
        password: this.hashPassword(this.password)
      })
    }
  }
}
</script>

<style scoped>
.formLogin {
  font-family: "Courier", monospace;
}
</style>
